{% extends "../layout/base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ backend_asset_url('css/select2.min.css') }}">
{% endblock %}
{% block navbar %}
<div class="col-12">
    <h2 class="float-start mb-0">
        {{ title }}
    </h2>
</div>
{% endblock %}

{% block body %}
<div class="content-body">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="card-text">
               
                {% AlertDanger "err1" %}
                    لطفا عنوان دوره را وارد نمایید.
                {% endAlertDanger %}  
                {% AlertDanger "err6" %}
                    لطفا توضیحات کوتاه را وارد نمایید .
                {% endAlertDanger %}  
                {% AlertDanger "err7" %}
                    لطفا توضیحات کامل را وارد نمایید .
                {% endAlertDanger %}  

                
                {% AlertDanger "err10" %}
                    {{ t('validation_slug_required') }}
                {% endAlertDanger %}  
                {% AlertDanger "err11" %}
                    {{ t('validation_slug_invalid') | safe }}
                {% endAlertDanger %}  

                {% AlertDanger "-1" %}
                عنوان دوره تکراری می باشد .
                {% endAlertDanger %}  
                
                {% AlertDanger "-3" %}
                    slug تکراری می باشد .
                {% endAlertDanger %}  


                {% AlertDanger "csrf_token_invalid" %}
                    {{ t('csrf_token_invalid') }}
                {% endAlertDanger %}  

                {% AlertSuccess "ok" %}
                    {{ t('save_success') }}
                {% endAlertSuccess %}                     

                {% AlertDanger "error" %}
                    {{ t('save_error') }}
                {% endAlertDanger %}  


                    <form class="form form-horizontal" id="form-edit" method="post" action="" enctype="multipart/form-data">
                        {{csrf_token()}}
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="title">
                                            عنوان دوره :‌
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input dir="rtl" type="text" id="title" class="form-control" name="title" value="{{ row.title }}">
                                    </div>
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="category_id">
                                            دسته بندی  :
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select id="category_id" class="form-control" name="category_id">
                                            <option value="" {% if(row.category_id==="" ) %}selected{% endif %}>----</option>
                                            {% for cat in categories %}
                                            <option value="{{ cat._id }}" {% if(row.category_id+'' == cat._id ) %}selected{% endif %}>
                                                {{ cat.title }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="short_description">
                                            توضیحات کوتاه :
                                            <span class="text-danger">*</span>‌
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea style="height:120px ;" id="short_description" class="form-control" name="short_description">{{ row.short_description }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="long_description">
                                            توضیحات کامل :
                                            <span class="text-danger">*</span>‌
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea style="height:120px;" id="long_description" class="form-control" name="long_description">{{ row.long_description }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="status_price">
                                          هزینه :
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select name="status_price" id="status_price" class="form-control">
                                            <option value="0" {% if(row.status_price == "0") %}selected{% endif %}> رایگان</option>
                                            <option value="1" {% if(row.status_price == "1") %}selected{% endif %}>
                                                 غیر رایگان
                                            </option>
                                        </select>
                                    </div>
                                </div>
                    
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="price">
                                            هزینه دوره :
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input dir="ltr" type="text" id="price" class="form-control" name="price" value="{{ row.price }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="status">
                                            وضعیت :
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select id="status" class="form-control" name="status">
                                            <option value="1" {% if(row.status == "1") %}selected{% endif %}>{{ t('status_enable') }}</option>
                                            <option value="0" {% if(row.status == "0") %}selected{% endif %}>{{ t('status_disabled') }}</option>
                                        </select>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="img">
                                            تصویر کوچک :
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        {% if(row.img === '') %}
                                        <input dir="ltr" type="file" id="img" class="form-control" name="img">
                                        {% else %}
                                        {% set img_url = row.img %}
                                        <a href="{{ img_url }}" target="_blank">
                                            <img src="{{ img_url }}" alt="file" class="round" style="width: 200px;height:100px;">
                                        </a>
                                        &nbsp;
                                        <button type="button" onclick="delete_img('{{row._id}}');" class="btn btn-danger">
                                            {{ 'حذف تصویر'}}
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="medium_img">
                                            تصویر متوسط :
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        {% if(row.medium_img === '') %}
                                        <input dir="ltr" type="file" id="medium_img" class="form-control" name="medium_img">
                                        {% else %}
                                        {% set img_url = row.medium_img %}
                                        <a href="{{ img_url }}" target="_blank">
                                            <img src="{{ img_url }}" alt="file" class="round" style="width: 200px;height:100px;">
                                        </a>
                                        &nbsp;
                                        <button type="button" onclick="delete_medium_img('{{row._id}}');" class="btn btn-danger">
                                            {{ 'حذف تصویر'}}
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="img">
                                            لینک ویدیو  نمونه اول:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input dir="ltr" type="text" id="link_video1" class="form-control" name="link_video1" value="{{ row.link_video1 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="img_video1">
                                        تصویر ویدیو  نمونه اول:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        {% if(row.img_video1 === '') %}
                                        <input dir="ltr" type="file" id="img_video1" class="form-control" name="img_video1">
                                        {% else %}
                                        {% set img_url = row.img_video1 %}
                                        <a href="{{ img_url }}" target="_blank">
                                            <img src="{{ img_url }}" alt="file" class="round" style="width: 200px;height:100px;">
                                        </a>
                                        &nbsp;
                                        <button type="button" onclick="delete_img1('{{row._id}}');" class="btn btn-danger">
                                            {{ 'حذف تصویر'}}
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="link_video2">
                                            لینک ویدیو   نمونه دوم:   
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input dir="ltr" type="text" id="link_video2" class="form-control" name="link_video2" value="{{ row.link_video2 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="img_video2">
                                        تصویر ویدیو  نمونه دوم:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        {% if(row.img_video2 === '') %}
                                        <input dir="ltr" type="file" id="img_video2" class="form-control" name="img_video2">
                                        {% else %}
                                        {% set img_url = row.img_video2 %}
                                        <a href="{{ img_url }}" target="_blank">
                                            <img src="{{ img_url }}" alt="file" class="round" style="width: 200px;height:100px;">
                                        </a>
                                        &nbsp;
                                        <button type="button" onclick="delete_img2('{{row._id}}');" class="btn btn-danger">
                                            {{ 'حذف تصویر'}}
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="link_video3">
                                         لینک ویدیو  نمونه سوم:  
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input dir="ltr" type="text" id="link_video3" class="form-control" name="link_video3" value="{{ row.link_video3 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="img_video3">
                                        تصویر ویدیو  نمونه سوم:
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        {% if(row.img_video3 === '') %}
                                        <input dir="ltr" type="file" id="img_video3" class="form-control" name="img_video3">
                                        {% else %}
                                        {% set img_url = row.img_video3 %}
                                        <a href="{{ img_url }}" target="_blank">
                                            <img src="{{ img_url }}" alt="file" class="round" style="width: 200px;height:100px;">
                                        </a>
                                        &nbsp;
                                        <button type="button" onclick="delete_img3('{{row._id}}');" class="btn btn-danger">
                                            {{ 'حذف تصویر'}}
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="slug">
                                            slug : 
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input dir="ltr" type="text" id="slug" class="form-control" name="slug" value="{{ row.slug }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="title_seo">
                                            {{ t('title_seo') }} : 
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" id="title_seo" class="form-control" name="title_seo" value="{{ row.title_seo }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1 row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label" for="description_seo">
                                            {{ t('description_seo') }} : 
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea style="height:120px ;" id="description_seo" class="form-control" name="description_seo">{{ row.description_seo }}</textarea>
                                    </div>
                                </div>
                            </div>                
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary me-1">
                                    {{ t('save') }}
                                </button>
                                <button type="button" onclick="redirect(BACKEND_URL+'offlineCourse/');" class="btn btn-danger">
                                    {{ t('back') }}
                                </button>
                            </div>
                        </div>
                    </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}  
<script src="{{ backend_asset_url('js/select2.min.js') }}"></script>
<script src="{{ backend_asset_url('ckeditor/ckeditor.js') }}"></script>
<script src="{{ backend_asset_url('controllers/offlineCourse/edit.js') }}"></script>
{% endblock %}